<br>
<br>
<div class="container container-lg overflow-auto h25">
    <table class="table table-hover table-bordered table-primary">
        <thead>
            <tr>
                <td>AllSpecs</td>
                <td>IngameName</td>
                <td>Build</td>
                <td>Waffe</td><td>Tier</td><td *ngFor="let item of waffenSpec">WS{{item+1}}</td>
                <td>Nebenhand</td><td>Tier</td><td *ngFor="let item of offHandSpecs">NS{{item+1}}</td>
                <td>Kopf</td><td>Tier</td><td *ngFor="let item of RuestungSpecs">KS{{item+1}}</td>
                <td>Brust</td><td>Tier</td><td *ngFor="let item of RuestungSpecs">BS{{item+1}}</td>
                <td>Schuhe</td><td>Tier</td><td *ngFor="let item of RuestungSpecs">SS{{item+1}}</td>
                <td>Umhang</td><td>Tier</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let User of Users" >
                <td>{{getAllSpecs(User)}}</td>
                <td>{{User.IngameName}}</td>
                <td>{{User.BuildName}}</td>
                <td>{{User.Waffe}}</td><td>{{User.WaffeTier}}</td><td *ngFor="let item of User.WaffeSpecs">{{item}}</td>
                <td>{{User.Nebenhand}}</td><td>{{User.NebenhandTier}}</td><td *ngFor="let item of User.NebenhandSpecs">{{item}}</td>
                <td>{{User.KName}}</td><td>{{User.KTier}}</td><td *ngFor="let item of User.KSpecs">{{item}}</td>
                <td>{{User.BName}}</td><td>{{User.BTier}}</td><td *ngFor="let item of User.BSpecs">{{item}}</td>
                <td>{{User.SName}}</td><td>{{User.STier}}</td><td *ngFor="let item of User.SSpecs">{{item}}</td>
                <td>{{User.Umhang}}</td><td>{{User.UmhangTier}}</td>
            </tr>
        </tbody>
    </table>
</div>
