<nav class="navbar navbar-expand-sm  navbar-dark bg-dark sticky-top">
    <a href="#" class="navbar-brand">Volans</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ZvZ-Specs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/UserForm">Eintragen</a>
                  <a class="dropdown-item" routerLink="/MitgliederTabelle">Ansehen</a>
                </div>
              </li>
            <li class="nav-item">
                <a routerLink="/VolansNews" class="nav-link">Anderes</a>
            </li>
        </ul>
    </div>
</nav>