<div class="container overflow-auto">
  <form (ngSubmit)="createUser(Users,User)">
    <table class="table">
      <tr>
        <td>
          <label>Discord ID <a href="https://support.discord.com/hc/de/articles/206346498-Wie-finde-ich-meine-Server-ID-">Wie bekommen?</a></label>
          <input class="form-control" type="number" placeholder="Discord ID" name= "DiscordID" [(ngModel)]="User.DiscordID">
        <td>
        <td>
          <label>Ingame Name</label>
          <input class="form-control" type="text" placeholder="IngameName" name="IngameName" [(ngModel)]="User.IngameName" >
        </td>
        <td>
          <label>Build</label><br>
          <select class="form-select" name="BuildName" [(ngModel)]="User.BuildName">
            <option *ngFor="let build of builds">{{build}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Waffe</label>
          <select class="form-select" name="Waffe" [(ngModel)]="User.Waffe">
            <option *ngFor="let waffe of waffen">{{waffe}}</option>
          </select>
        </td>
        <td>
          <label>Tier</label>
          <select class="form-select form-select-sm" name="WaffeTier" [(ngModel)]="User.WaffeTier">
            <option *ngFor="let waTier of waffenTier">{{waTier}}</option>
          </select>
        </td>
        <td *ngFor="let waSpec of waffenSpec">
          <label>Spec{{waSpec+1}}</label>
          <input class="form-control" type="number" placeholder="Spec{{waSpec+1}}" name="WaffenSpec{{waSpec}}" [(ngModel)]="User.WaffeSpecs[waSpec]">
        </td>
      </tr>
      <tr [hidden]="isNotTwoHanded(User.Waffe)">
        <td>
          <label>Nebenhand</label>
          <select class="form-select" name="Nebenhand" [(ngModel)]="User.Nebenhand">
            <option *ngFor="let waffe of nebenhand">{{waffe}}</option>
          </select>
        </td>
        <td>
          <label>Tier</label>
          <select class="form-select" name="NebenhandTier" [(ngModel)]="User.NebenhandTier">
            <option *ngFor="let wt of waffenTier">{{wt}}</option>
          </select>
        </td>
        <td *ngFor="let waSpec of offHandSpecs">
          <label>Spec{{waSpec+1}}</label>
          <input class="form-control" type="number" placeholder="Spec{{waSpec+1}}" name="WaffenSpec{{waSpec}}" [(ngModel)]="User.NebenhandSpecs[waSpec]">
        </td>
      </tr>
      <tr>
        <td>
          <label>Kopf</label>
          <select class="form-select" name="Kopf" [(ngModel)]="User.KName">
            <option *ngFor="let helm of helme">{{helm}}</option>
          </select>
        </td>
        <td>
          <label>Tier</label>
          <select class="form-select" name="BTier" [(ngModel)]="User.KTier">
            <option *ngFor="let wt of waffenTier">{{wt}}</option>
          </select>
        </td>
        <td *ngFor="let waSpec of RuestungSpecs">
          <label>Spec{{waSpec+1}}</label>
          <input class="form-control" type="number" placeholder="Spec{{waSpec+1}}" name="KSpec{{waSpec}}" [(ngModel)]="User.KSpecs[waSpec]">
        </td>
      </tr>
      <tr>
        <td>
          <label>Brust</label>
          <select class="form-select" name="Brust" [(ngModel)]="User.BName">
            <option *ngFor="let br of brust">{{br}}</option>
          </select>
        </td>
        <td>
          <label>Tier</label>
          <select class="form-select" name="BTier" [(ngModel)]="User.BTier">
            <option *ngFor="let wt of waffenTier">{{wt}}</option>
          </select>
        </td>
        <td *ngFor="let waSpec of RuestungSpecs">
          <label>Spec{{waSpec+1}}</label>
          <input class="form-control" type="number" placeholder="Spec{{waSpec+1}}" name="BSpec{{waSpec}}" [(ngModel)]="User.BSpecs[waSpec]">
        </td>
      </tr>
      <tr>
        <td>
          <label>Schuhe</label>
          <select class="form-select" name="Schuhe" [(ngModel)]="User.SName">
            <option *ngFor="let schuh of schuhe">{{schuh}}</option>
          </select>
        </td>
        <td>
          <label>Tier</label>
          <select class="form-select" name="STier" [(ngModel)]="User.STier">
            <option *ngFor="let wt of waffenTier">{{wt}}</option>
          </select>
        </td>
        <td *ngFor="let waSpec of RuestungSpecs">
          <label>Spec{{waSpec+1}}</label>
          <input class="form-control" type="number" placeholder="Spec{{waSpec+1}}" name="BSpec{{waSpec}}" [(ngModel)]="User.SSpecs[waSpec]">
        </td>
      </tr>
      <tr>
        <td>
          <label>Umhang</label>
          <select class="form-select" name="Umhang" [(ngModel)]="User.Umhang">
            <option *ngFor="let umhang of umhaenge">{{umhang}}</option>
          </select>
        </td>
        <td>
          <label>Tier</label>
          <select class="form-select" name="UTier" [(ngModel)]="User.UmhangTier">
            <option *ngFor="let wt of waffenTier">{{wt}}</option>
          </select>
        </td>
      </tr>
    </table>
    <br><input class="form-control" type="submit">
    </form>
</div>
<br>
<br>
<br>
